{% extends 'base.html' %}

{% block content %}

<div class="container w-50">
    <form method="post">
        <div class="form-group">
            <input type="text" name="title" placeholder="Task title" class="form-control text-center" value="{{ request.form['title'] }}">
        </div>
        
        <div class="container pt-3 p-3 bg-dark rounded">
            <div class="form-group">
                <textarea name="description" placeholder="Task description" class="form-control">{{ request.form['description'] }}</textarea>
            </div>
            
            <div class="row">
                <div class="form-group col">
                    <label for="start_date">Start date</label>
                    <input type="date" name="start_date" class="form-control" value="{{ request.form['start_date'] }}">
                </div>
            
                <div class="form-group col">
                    <label for="end_date">End date</label>
                    <input type="date" name="end_date" class="form-control" value="{{ request.form['end_date']}}">
                </div>
            </div>
        
            <div class="form-group">
                <input type="checkbox" name="concluded">
                <label for="concluded">Concluded</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
<hr>
{% endblock %}