{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center display-4">Tasks</h1>
    <div style="height: 400px;">
        <div class="container pt-3 bg-dark rounded h-100 w-50 overflow-auto">
            <ul id="list-tasks">
                {% for task in tasks %}
                <li>
                    <a href="{{ url_for('task.edit', id=task['id']) }}" class="text-white">{{ task['title'] }}</a>
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div> 
    </div>
    <hr>
    <script>
        $(document).ready(function(){
          $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#list-tasks li").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
{% endblock %}